<html>
    <head>
        <title> <%= title %></title>
        <script src="https://kit.fontawesome.com/40e7be9db4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1> 
            <i class = "fas fa-tasks"></i>
            Task.it
        </h1>
        <a href = "/add-task"> <i class = "fas fa-plus-circle fa-3x" title="Add Task"></i> </a>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">
                Filter
                <i class = "fas fa-caret-down"></i>
            </button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </div>

        <% for (let i of tasks_list) { %>
            <div class="task-card">
                <p class="a-left"> <%= i.name %> </p>
                <p class="a-center"> <%= i.date %> </p>
                <p class="a-right"> <%= i.category %> </p>
                <a href=""><i class = "fas fa-minus-circle"></i> </a>
            </div>
        <% } %>
    </body>
</html>