html {
    background-color:#546e7a;
  }
  body {
      margin-top: 4%;
      margin-left: 30%;
      margin-right: 30%;
      margin-bottom: 5%;
      border: 4px solid  rgb(71, 116, 116);
      border-radius: 5%;
      background: #3F51B5;
  }
  h1 {
    margin-top: 30px;
    text-align: center;
    font-family: papyrus;
    color: white;
}

h3 {
    font: sans-serif;
    text-align: center;
    margin-top: 30px;
}

.task-box {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    border: 2px solid black;
    border-radius: 25px;
}

form {
    margin-top: 50px;
    margin-bottom: 30px;
}

section {
    margin-top: 40px;
    text-align: center;
}

input, .categories{
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    font-size: large;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid grey;
    padding: 20px;
    width:80%;
    margin-left: 10%;
    margin-bottom: 2%;
}

select {
    color:grey;
}
select option:first-child{
    display: none;
}

select:focus, input:focus {
    outline:none;
    color:black;
    border-bottom: 1px solid grey;
}

form button{
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
form button:hover{
    background-color:#4095c6;
}